h1 {color: #ff1029;}
h2 {color: #ff1029;}

p {
    background-color: #ebe7dd;
}

ul {
    background-color: #ebe7dd;
}

nav {background-color: #ebe7dd;}

nav a {color: #000000;}
nav a:hover {background-color: #ffde7d;}

nav {padding: 10px;}
nav {margin-bottom: 30px;}

